/* variables */
.site-footer .social-links, .f-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.site-footer .social-links {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap; }

/* common class */
body {
  font-size: 1rem;
  line-height: 2rem;
  font-family: 'Poppins', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem; }

h1, .h1 {
  font-size: 3rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.5rem; }

h4, .h4 {
  font-size: 1rem; }

a {
  transition: all 0.3s ease-out;
  outline: none;
  display: inline-block;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none; }

img {
  max-width: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem; }

.text-gray {
  color: #dbdfe9; }

.text-white {
  color: #ffffff; }

.bg-gray {
  background-color: #dbdfe9; }

.bg-black {
  background-color: #040404; }

.common-sec {
  padding: 3rem 0; }

.common-btn {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: #ffffff;
  text-transform: capitalize; }

.widget {
  margin-bottom: 1rem; }

.widget .widget-title,
.widget .widgettitle {
  font-size: 1.1rem;
  padding-bottom: 0; }

.site-header li:hover, .site-header li:focus {
  outline: none; }
.site-header a {
  color: #040404; }
  .site-header a:hover, .site-header a:focus {
    color: #d4d0af !important;
    text-decoration: none !important;
    outline: none; }

/*
.site-footer{	
	.footer-widgets{
		ul{
			li{
				position: relative;
				&:before{
					position: absolute;
					left: 0;
					margin: 0;
					top: 0;
					@include common-transition;
				}
				&:hover,&:focus{
					&:before{@include transform(scale(1.1));}
				}
				a{
					text-decoration: none;
					outline: none;
					&:hover{
						color: $color-hover;
					}
				}
			}
		}
	}
}
*/
.site-footer {
  background-color: #4a6495;
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .site-footer .col-full {
    background: none;
    color: #ffffff; }
    .site-footer .col-full a {
      color: #ffffff;
      text-decoration: none; }
      .site-footer .col-full a:hover, .site-footer .col-full a:focus {
        outline: none;
        color: #d4d0af; }
    .site-footer .col-full .text-white {
      color: #ffffff; }
    .site-footer .col-full ul li {
      position: relative;
      padding: 0; }
      .site-footer .col-full ul li:before {
        display: none; }
      .site-footer .col-full ul li a {
        position: relative; }
        .site-footer .col-full ul li a:before {
          content: '';
          width: 0;
          height: 2px;
          background-color: #d4d0af;
          position: absolute;
          top: 10px;
          left: 0;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
        .site-footer .col-full ul li a:hover, .site-footer .col-full ul li a:focus {
          padding-left: 1rem; }
          .site-footer .col-full ul li a:hover:before, .site-footer .col-full ul li a:focus:before {
            width: 10px; }
  .site-footer .site-info {
    text-align: center;
    padding: 1rem 0; }
  .site-footer .social-links .fa {
    font: normal normal normal 16px/1 FontAwesome; }
  .site-footer .social-links a {
    text-align: center;
    color: #ffffff;
    margin: 0 1rem 1rem 0;
    font-size: 1rem; }
    .site-footer .social-links a:hover, .site-footer .social-links a:focus {
      color: #d4d0af; }

.f-info {
  margin-bottom: 1rem;
  cursor: pointer; }
  .f-info .fa {
    font: normal normal normal 16px/1 FontAwesome; }
  .f-info .icon {
    text-align: center;
    color: #d4d0af;
    margin-right: .5rem;
    font-size: .875rem; }
  .f-info .text {
    width: calc(100% - 42px); }

@media (min-width: 768px) {
  .woocommerce-active .site-header .site-branding {
    max-width: 250px; }

  #site-navigation {
    width: calc(100% - 360px);
    margin-right: 15px; }
    #site-navigation .primary-navigation {
      padding-left: 50px; }
      #site-navigation .primary-navigation > ul {
        padding-top: 15px; }
        #site-navigation .primary-navigation > ul > li {
          padding: 0 1rem; }
          #site-navigation .primary-navigation > ul > li > a {
            padding: 0.5rem 0 !important;
            text-transform: uppercase;
            position: relative; }
            #site-navigation .primary-navigation > ul > li > a:after {
              content: '';
              height: 1px;
              width: 0;
              background-color: #d4d0af;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              -webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out; }
            #site-navigation .primary-navigation > ul > li > a:hover:after, #site-navigation .primary-navigation > ul > li > a:focus:after {
              width: 100%; }

  .site-footer .col-full {
    padding: 0 40px; } }

/*# sourceMappingURL=main.css.map */
