/* variables */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
.our-work-sec, .site-footer .social-links, .f-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.our-work-sec, .site-footer .social-links {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap; }

/* common class */
* {
  box-sizing: border-box; }

body {
  font-size: 1rem;
  line-height: 2rem;
  font-family: 'Poppins', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif; }

h1, .h1 {
  font-size: 3rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.5rem; }

h4, .h4 {
  font-size: 1rem; }

a {
  transition: all 0.3s ease-out;
  outline: none;
  display: inline-block;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none !important; }

img {
  max-width: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem; }

.text-gray {
  color: #dbdfe9; }

.text-white {
  color: #ffffff; }

.bg-gray {
  background-color: #dbdfe9; }

.bg-black {
  background-color: #040404; }

.bg-blue {
  background-color: #4a6495; }

.bg-none {
  background: none !important; }

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.col-full {
  background: none !important;
  width: 100%;
  box-sizing: border-box; }

.common-sec {
  padding: 3rem 0; }

.common-btn {
  padding: 0.5rem 1.5rem;
  border-radius: 0;
  background-color: #e5a3a4;
  color: #ffffff;
  border-radius: 2rem;
  min-width: 150px;
  text-transform: uppercase; }
  .common-btn:hover, .common-btn:focus {
    color: #ffffff;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px); }

.sec-title-bx {
  position: relative;
  max-width: 750px;
  margin: 0 auto 15px; }
  .sec-title-bx .foc:before, .sec-title-bx .foc:after {
    content: '';
    background-color: #4a6495;
    position: absolute; }
  .sec-title-bx .foc:before {
    height: 20px;
    width: 1px; }
  .sec-title-bx .foc:after {
    height: 1px;
    width: 20px; }
  .sec-title-bx .tp:before, .sec-title-bx .tp:after {
    left: 0;
    top: 0; }
  .sec-title-bx .bt:before, .sec-title-bx .bt:after {
    right: 0;
    bottom: 0; }

.widget {
  margin-bottom: 1rem; }

.text-center {
  text-align: center !important; }

.widget .widget-title,
.widget .widgettitle {
  font-size: 1.1rem;
  padding-bottom: 0; }

.mt-5 {
  margin-top: 2rem; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col-lg-6,
.col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.slick-arrow {
  background-color: transparent !important;
  background-repeat: no-repeat;
  position: center;
  margin: 0px !important;
  height: 40px;
  width: 40px;
  line-height: 50px;
  text-align: center; }

button.slick-prev {
  left: -40px; }
  button.slick-prev:before {
    content: '\f104';
    color: #040404;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 50px;
    line-height: 35px; }

button.slick-next {
  right: -40px; }
  button.slick-next:before {
    content: '\f105';
    color: #040404;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 50px;
    line-height: 35px; }

.site-header li:hover, .site-header li:focus {
  outline: none; }
.site-header a {
  color: #040404; }
  .site-header a:hover, .site-header a:focus {
    color: #e5a3a4 !important;
    text-decoration: none !important;
    outline: none; }

.img-text-bx .img {
  margin-bottom: 15px; }
.img-text-bx .title {
  margin-bottom: 15px; }
.img-text-bx .link a {
  color: #4a6495;
  font-size: 1.3rem;
  position: relative; }
  .img-text-bx .link a:after {
    content: '';
    height: 1px;
    width: 0;
    background-color: #4a6495;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 0; }
  .img-text-bx .link a:hover:after, .img-text-bx .link a:focus:after {
    width: calc(100% - 25px); }

.new-ideas-sec .row {
  margin: 0 -5px; }
.new-ideas-sec .col-lg-4 {
  padding: 0 5px; }

.pattern-books-bx {
  padding: 5rem 1rem;
  color: #fff; }
  .pattern-books-bx .common-btn {
    margin: 0.5rem; }

.our-work-sec {
  min-height: 500px;
  align-items: center; }

.inspirations-bx,
.all-new-bx-img {
  padding: 10px; }

.all-new-sec .col-full {
  padding-right: 0; }
.all-new-sec .row {
  margin: 0; }

.all-new-for-slider button.slick-prev {
  top: auto;
  left: 0;
  bottom: -30px;
  transform: none; }
.all-new-for-slider button.slick-next {
  top: auto;
  left: 60px;
  right: auto;
  bottom: -30px;
  transform: none; }

.site-footer {
  background-color: #4a6495;
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .site-footer .col-full {
    background: none;
    color: #ffffff; }
    .site-footer .col-full a {
      color: #ffffff;
      text-decoration: none; }
      .site-footer .col-full a:hover, .site-footer .col-full a:focus {
        outline: none;
        color: #e5a3a4; }
    .site-footer .col-full .text-white {
      color: #ffffff; }
    .site-footer .col-full ul li {
      position: relative;
      padding: 0;
      margin-bottom: 1em;
      line-height: 1.41575em; }
      .site-footer .col-full ul li:before {
        display: none; }
      .site-footer .col-full ul li a {
        position: relative;
        padding-left: 1rem; }
        .site-footer .col-full ul li a:before {
          content: '\f105';
          font: normal normal normal 14px/1 FontAwesome;
          color: #e5a3a4;
          position: absolute;
          top: 3px;
          left: 0;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
        .site-footer .col-full ul li a:hover:before, .site-footer .col-full ul li a:focus:before {
          -webkit-transform: translateX(3px);
          -moz-transform: translateX(3px);
          -ms-transform: translateX(3px);
          transform: translateX(3px); }
    .site-footer .col-full .footer-widgets {
      padding: 70px 5.874em; }
  .site-footer .site-info {
    text-align: center;
    padding: 1rem;
    background-color: #d4d0af;
    color: #040404; }
    .site-footer .site-info a {
      color: #040404; }
      .site-footer .site-info a:hover, .site-footer .site-info a:focus {
        color: #4a6495; }
  .site-footer .social-links .fa {
    font: normal normal normal 16px/1 FontAwesome; }
  .site-footer .social-links a {
    text-align: center;
    color: #ffffff;
    margin: 0 1rem 1rem 0;
    font-size: 1rem; }
    .site-footer .social-links a:hover, .site-footer .social-links a:focus {
      color: #e5a3a4; }

.f-info {
  margin-bottom: 1rem;
  cursor: pointer; }
  .f-info .fa {
    font: normal normal normal 16px/1 FontAwesome; }
  .f-info .icon {
    text-align: center;
    color: #e5a3a4;
    margin-right: .5rem;
    font-size: .875rem; }
  .f-info .text {
    width: calc(100% - 42px); }

@media (min-width: 768px) {
  .woocommerce-active .site-header .site-branding {
    max-width: 250px; }

  #site-navigation {
    width: calc(100% - 360px);
    margin-right: 15px; }
    #site-navigation .primary-navigation {
      padding-left: 50px; }
      #site-navigation .primary-navigation > ul {
        padding-top: 15px; }
        #site-navigation .primary-navigation > ul > li {
          padding: 0 1rem; }
          #site-navigation .primary-navigation > ul > li > a {
            padding: 0.5rem 0 !important;
            text-transform: uppercase;
            position: relative; }
            #site-navigation .primary-navigation > ul > li > a:after {
              content: '';
              height: 1px;
              width: 0;
              background-color: #e5a3a4;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              -webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out; }
            #site-navigation .primary-navigation > ul > li > a:hover:after, #site-navigation .primary-navigation > ul > li > a:focus:after {
              width: 100%; }

  .site-footer .col-full {
    padding: 0; }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; } }

/*# sourceMappingURL=main.css.map */
