/* common class */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
*{box-sizing: border-box;}
body{
	font-size: 1rem;
	line-height: 2rem;
	font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 1.5rem;
	font-family: 'Poppins', sans-serif;	
}
h1,.h1{font-size: 3rem;}
h2,.h2{font-size: 2rem;}
h3,.h3{font-size: 1.5rem;}
h4,.h4{font-size: 1rem;}
a{
	transition: all 0.3s ease-out;
	outline: none;
	display: inline-block;
	text-decoration: none;
}
a:hover,
a:focus{
	text-decoration: none;
}
img{max-width: 100%;}

ul{
	list-style: none;
	padding: 0;
	margin: 0 0 1rem;
}

.text-gray{color: $color-gray;}
.text-white{color: $color-white;}

.bg-gray{background-color: $color-gray;}
.bg-black{background-color: $color-site;}


.common-sec{
	padding: 3rem 0;
}
.common-btn{
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	color: $color-white;
	text-transform: capitalize;
}

.widget{
	margin-bottom: 1rem;
}
.text-center{text-align: center !important;}

.widget .widget-title, 
.widget .widgettitle{
	font-size: 1.1rem;
	padding-bottom: 0;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.col-lg-6{
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}