// footer style

/*
.site-footer{	
	.footer-widgets{
		ul{
			li{
				position: relative;
				&:before{
					position: absolute;
					left: 0;
					margin: 0;
					top: 0;
					@include common-transition;
				}
				&:hover,&:focus{
					&:before{@include transform(scale(1.1));}
				}
				a{
					text-decoration: none;
					outline: none;
					&:hover{
						color: $color-hover;
					}
				}
			}
		}
	}
}
*/

.site-footer{
	background-color: $color-hover2;
	background-image: url(../images/footer-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	.col-full{
		background: none;
		color: $color-white;
		a{
			color: $color-white;
			text-decoration: none;
			&:hover,&:focus{
				outline: none;
				color: $color-hover;
			}
		}
		.text-white{color: $color-white;}
		ul{
			li{
				position: relative;
				padding: 0;
				&:before{
					display: none;
				}
				a{
					position: relative;
					&:before{
						content: '';
						width: 0;
						height: 2px;
						background-color: $color-hover;
						position: absolute;
						top: 10px;
						left: 0;
						@include common-transition(all 0.3s ease-out);
					}
					&:hover,&:focus{
						padding-left: 1rem;
						&:before{
							width: 10px;
						}
					}
				}
			}
		}
	}
	.site-info{
		text-align: center;
		padding: 1rem 0;
	}
	.social-links{
		@extend %d-flex;
		@extend %flex-wrap;
		.fa{font: normal normal normal 16px/1 FontAwesome;}
		a{			
			text-align: center;
			color: $color-white;
			margin: 0 1rem 1rem 0;
			font-size: 1rem;
			&:hover,&:focus{
				color: $color-hover;
			}
		}
	}	
}
.f-info {
	@extend %d-flex;
	margin-bottom: 1rem;
	cursor: pointer;
	.fa{font: normal normal normal 16px/1 FontAwesome;}
	.icon{
		text-align: center;
		color: $color-hover;
		margin-right: .5rem;
		font-size: .875rem;
	}
	.text{
		width: calc(100% - 42px);
	}
}