// header style

.site-header{
	li{
		&:hover,&:focus{
			outline: none;
		}
	}
	a{
		color:$color-site;
		&:hover,&:focus{
			color:$color-hover !important;
			text-decoration: none !important;
			outline: none;
		}
	}
}