//min-width
@media (min-width: 768px){
	.woocommerce-active .site-header .site-branding{
		max-width: 250px;
	}
	#site-navigation{
		width: calc(100% - 360px);
		margin-right: 15px;
		.primary-navigation{
			padding-left: 50px;
			>ul{
				padding-top: 15px;
				>li{
					padding: 0 1rem;
					>a{
						padding: 0.5rem 0 !important;
						text-transform: uppercase;
						position: relative;
						&:after{
							content: '';
							height: 1px;
							width: 0;
							background-color: $color-hover;
							position: absolute;
							top:0;
							left: 0;
							right: 0;
							@include common-transition(all 0.3s ease-out);
						}
						&:hover,&:focus{
							&:after{width: 100%;}
						}
					}
				}
			}
		}
	}

	.site-footer .col-full{
		padding: 0 40px;
	}
}